.CTA {
  position: relative;
  z-index: 200;
  left: 70px;
  bottom: 200px; 
  /*margin-top: 500px;*/
  height: 40px;
  width: 250px;
  cursor: pointer;
  color: red;
  background-color: black;
  text-align:center;
  line-height: 40px;
  font-family: SharpGroteskMedium25;
  font-size: 17px;
 

}


@media only screen and (max-width: 900px){
	.CTA{
	left: 65px;
	bottom: 200px;
	font-size: 20px;
	
	
}
}
/*@media only screen and (max-width: 600px){
	.CTA{
	left: 60px;
	bottom: 220px;
	font-size: 10px;
	height:20px;
	line-height: 20px;
  width: 125px;
	
	
}*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone, Android rules here */
  .CTA {
    bottom: 130px;
    font-size: 10px;
	height:20px;
	line-height: 20px;
  width: 125px;
}
}