.CTA {
  position: relative;
  z-index: 200;
  left: 70px;
  bottom: 170px; 
  /*margin-top: 500px;*/
  height: 40px;
  width: 210px;
  cursor: pointer;
  color: red;
  background-color: black;
  text-align:center;
  line-height: 40px;
  font-family: SharpGroteskMedium25;
  font-size: 17px;
 

}


@media only screen and (max-width: 900px){
	.CTA{
	left: 65px;
	bottom: 150px;
	font-size: 20px;
	
	
}
}
@media only screen and (max-width: 600px){
	.CTA{
	left: 60px;
	bottom: 160px;
	font-size: 10px;
	height:20px;
	line-height: 20px;
  width: 105px;
	
	
}
}