.CTA {
  z-index: 200;
  display:table-cell; 
  position: absolute;
  bottom: 160px;
  left: 70px;
  width:100%;
  text-align:center;
  padding-bottom: 30px;
  vertical-align:bottom; 
  height: 40px;
  width: 250px;
  cursor: pointer;
  color: red;
  background-color: #232B3C;
  text-align:center;
  line-height: 40px;
  font-family: SharpGroteskMedium25;
  font-size: 17px;
 

}


@media only screen and (max-width: 900px){
	.CTA{
	height: 30px;
  width: 200px;
  line-height: 30px;
	font-size: 15px;
  bottom: 120px;
  /*padding: 10px;*/
}
}
@media only screen and (max-width: 600px){
	.CTA{
	left: 60px;
	bottom: 150px;
	font-size: 10px;
	height:11px;
  line-height: 26px;
  width: 125px;
}
}

@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
  .CTA {
    bottom: 400px;
  }
  
}

@media only screen and (device-width: 1024px) and (orientation: portrait) {
  /* rules for iPad in portrait orientation */
  .CTA{
    bottom: 400px;
  }
  
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
   /*iPhone, Android rules here */
  .CTA {
  left: 44px;
  margin-bottom: 40px;
  font-size: 10px;
	height:11px;
	line-height: 26px;
  width: 125px;
}
}