.sidebar-container{
	height: 100%;
    position: absolute;
    width: 50px;
    right: 15px;
    top: 20px;
    z-index: 10;
    /*border-left: 2px solid white;*/
    padding: 0 20px;
    position:fixed;
    z-index: 1;
    /*display:table;*/
     display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

}
/*.sidebar-container::before {
	content: '';
    width: 2px;
    height: 85%;
    background-color: white;
    position: absolute;
    right: 50px;
    top: 0;
}*/
.divider-line{
	content: '';
    width: 1px;
    height: 85%;
    background-color: white;
    position: fixed;
    right: 90px;
    top: 60px;
    z-index: 10;
}

.hamburger-icon{
	cursor:pointer;
}
.top-icon {
  display:table-cell; 
  position: absolute;
  right: 3px;
  bottom: 0;
  width:100%;
  text-align:center;
  padding-bottom: 30px;
  vertical-align:bottom; 
  opacity: 1;
  animation: fade-in ease 3s;
 
}
.top-icon--hidden{
  visibility: hidden
}


.circles {
	/*padding-top: 200px;
	display: block;
	line-height: 18px;
	cursor: pointer;
  max-width: 100%;
  height: auto;*/
  display:table-cell; 
  position: absolute;
 /* bottom: 0px;*/
  width:100%;
  text-align:center;
  /*padding-bottom: 30px;*/
  vertical-align:middle;
}
.mouse-icon {
	padding-top:110px;
	cursor:pointer;
}

@media only screen and (max-width: 600px){
    .divider-line {
        display: none !important;
    }
    .sidebar-container {
        display: none;
    }
}



@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
  .sidebar-container {
    top: 250px;
  }
  .top-icon{
    padding-top: 300px;
  }
  
}@media only screen and (device-width: 980px) and (orientation: portrait) {
  /* rules for iPad in portrait orientation */
  .sidebar-container {
    top: 250px;
  }
  .top-icon{
    padding-top: 300px;
  }
  
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone, Android rules here */
  .sidebar-container {
   display:none;
  }
  .top-icon {
    padding-top: 80px;
  }
  .circles {
    padding-top: 80px;

  }
  

}